<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <title>광장</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/park.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>

<body>
    <a class="park-container">

        <a href="{{ url_for('home') }}" class="top-btn back-btn">
            <div class="icon-circle">
                <i class="fa-solid fa-arrow-left"></i>
            </div>
        </a>

        <div class="top-right-group">
            <a href="{{ url_for('ranking') }}" class="top-btn stats-btn">
                <div class="icon-circle">
                    <i class="fa-solid fa-chart-simple"></i>
                </div>
            </a>
            <div class="top-btn share-btn">
                <div class="icon-circle">
                    <i class="fa-solid fa-share-nodes"></i>
                </div>
            </div>
            <div class="top-btn add-friend-btn">
                <div class="icon-circle">
                    <i class="fa-solid fa-user-plus"></i>
                </div>
            </div>
        </div>

        <img class="deco-tree-left"
            src="{{ url_for('static', filename='images/park/image-removebg-preview (8) 1.png') }}" />
        <img class="deco-tree-right"
            src="{{ url_for('static', filename='images/park/image-removebg-preview (8) 2.png') }}" />
        <a href="{{ url_for('market') }}" class="deco-shop">
            <img src="{{ url_for('static', filename='images/park/ㄹㅇ상점 1.png') }}"
                style="width: 100%; display: block;" />
        </a>


        <a href="{{ url_for('user', name='멍이') }}" class="char-group char-dog">
            <div class="speech-bubble">
                <span class="emoji">📝</span> 공부 중이에요!
            </div>
            <img class="char-img"
                src="{{ url_for('static', filename='images/park/dreamina-2025-11-08-8642-Using image 1 as a reference, change the...-Photoroom 1.png') }}"
                alt="멍이">
            <div class="name-tag">멍이</div>
            <div class="shadow"></div>
        </a>

        <a href="{{ url_for('user', name='냥이') }}" class="char-group char-cat">
            <div class="speech-bubble">
                chill한 기분이에요
            </div>
            <img class="char-img" src="{{ url_for('static', filename='images/park/image 1.png') }}" alt="냥이">
            <div class="name-tag">냥이</div>
            <div class="shadow"></div>
        </a>

        <a href="{{ url_for('user', name='포포') }}" class="char-group char-ghost">
            <div class="speech-bubble">
                아무 생각이 없어요
            </div>
            <img class="char-img"
                src="{{ url_for('static', filename='images/park/dreamina-2025-11-05-3975-Edit Image 1, remove the hat, and change...-Photoroom 1.png') }}"
                alt="포포">
            <div class="name-tag">포포</div>
            <div class="shadow"></div>
        </a>


        <div class="nav-btn nav-friends">
            <div class="nav-content">FRIENDS</div>
        </div>

        <a href="{{ url_for('questlist') }}" div class="nav-btn nav-todo">
            <div class="nav-content">TO-DO</div>
        </a>

        <div class="nav-btn nav-settings">
            <div class="nav-icon">
                <i class="fa-solid fa-gear"></i>
            </div>
        </div>

        </div>
</body>

</html>